@model RedditHypermediaClient.Clients.Siren.Models.Entity

@{
    var links = Model.Links;
}

@if (links != null)
{
    foreach (var link in links.Where(l => l.Rel.Contains("listing")))
    {
        if (link.Class.Contains("active"))
        {
            <li class="active">
                <a href="@link.Href">@link.Title</a>
            </li>
        }
        else
        {
            <li>
                <a href="@link.Href">@link.Title</a>
            </li>
        }
    }
}