@using System.Text.RegularExpressions
@using RedditHypermediaClient.Extensions
@model RedditHypermediaClient.Hypermedia.Siren.Models.Entity

@{
    var comment = Model;

    var author = comment.Properties["author"];
    var score = comment.Properties["score"];
    var title = new Regex(@"(http|https|ftp)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(:[a-zA-Z0-9]*)?\/?([a-zA-Z0-9\-\._\?\,\'\/\\\+&amp;%\$#\=~])*").Replace(comment.Title, "<a href=\"$0\">$0</a>");
    var submitted = (DateTime.UtcNow - (DateTime) comment.Properties["created"]).Readable();
}

<div class="row">
    <div class="col-md-12" style="padding-top: 10px">
        <p style="color: slategray; font-size: 0.8em">
            <span style="font-weight: bold">@author</span> @score point(s) @submitted ago
        </p>
        <p style="word-wrap: break-word">@Html.Raw(title)</p>
        <div style="border-left: 1px lightgrey solid; padding-left: 10px;">

            @if (comment.Entities != null)
            {
                foreach (var subComment in comment.Entities.Where(e => e.Rel.Contains("comment")))
                {
                    @Html.Partial("_subentity_comment", subComment)
                }
            }
        </div>
    </div>
</div>