@model HypermediaClient.Hypermedia.Siren.Models.Entity

@{
    var search = Model;
}


@if (search.Entities != null && search.Entities.Any(e => e.Rel.Contains("subreddit")))
{
    <h4>subreddits</h4>
    <hr/>
    foreach (var subreddit in search.Entities.Where(e => e.Class.Contains("subreddit")))
    {
        @Html.Partial("_subentity_subreddit", subreddit)
    }

    @Html.Partial("_link_search_subredditpagination", search)
}



@if (search.Entities != null && search.Entities.Any(e => e.Rel.Contains("post")))
{
    <h4>posts</h4>
    <hr/>
    foreach (var post in search.Entities.Where(e => e.Class.Contains("post")))
    {
        @Html.Partial("_subentity_post", post)
    }

    @Html.Partial("_link_search_postpagination", search)
}