@model HypermediaClient.Hypermedia.Siren.Models.Entity

@{
    var entity = Model;
}

@if (entity.Entities != null)
{
    foreach (var comment in entity.Entities.Where(e => e.Rel.Contains("comment")))
    {
        <div class="row">
            <div class="col-md-12">
                <p>@comment.Title</p>
                <div style="padding-left: 10px; border-left: 1px lightgrey solid">
                    @Html.Partial("_subentity_comment", comment)
                </div>
            </div>
        </div>
    }
}